<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623100855509-mj9smjc03og0fmg7hdrc7v8bh6bjf8al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623100855509-mj9smjc03og0fmg7hdrc7v8bh6bjf8al</string>
	<key>API_KEY</key>
	<string>AIzaSyBkEoeuPR-wm25NwVJyWr5EEi-47OOnM5s</string>
	<key>GCM_SENDER_ID</key>
	<string>623100855509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homerun.app.homerun</string>
	<key>PROJECT_ID</key>
	<string>homerun-3e122</string>
	<key>STORAGE_BUCKET</key>
	<string>homerun-3e122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623100855509:ios:4e8bf06abf9726f9604e5c</string>
</dict>
</plist>